DATABASE_URL="mysql://root:@127.0.0.1:3306/slotycare"
GLOBAL_DATABASE_URL="mysql://root:@127.0.0.1:3306/slotycare_global"
TENANT_DB_ADMIN_URL="mysql://root:@127.0.0.1:3306/mysql"
TENANT_DB_HOST="127.0.0.1"
TENANT_DB_USER="root"
TENANT_DB_PASSWORD=""
TENANT_DATABASE_URL="mysql://root:@127.0.0.1:3306/slotycare_tenant"
JWT_SECRET="secret@123"
JWT_EXPIRES_IN="15m"
PORT=4000
CORS_ORIGIN="*"

GMAIL_CLIENT_ID=""
GMAIL_CLIENT_SECRET=""
GMAIL_REDIRECT_URI=""
GMAIL_REFRESH_TOKEN=""
GMAIL_SENDER_EMAIL=""
